.background {
  color: #16161a;
}
.paragraph {
  color: #94a1b2;
}
.text {
  color: #fffffe;
}
.buttons {
  color: #7f5af0;
}
.icons {
  color: #6639ef;
}

.title {
  font-family: "Euclid Circular A";
}

.paragraph {
  font-family: "Poppins";
}
