@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic");

.border-custom {
  border-color: #6639ef;
}

* {
  font-family: Poppins;
  box-sizing: border-box;
}
